.head-left {
  background-color: #0A2237;
  color: whitesmoke;
}
.btn-footer {
  background-color: #0A2237;
  color: whitesmoke;
  border: 1px solid whitesmoke;
}


.head-right {
  background-color: #053662;
  color: whitesmoke;
  padding-right: 6rem;
}

.icon-clr {
  color: #99C165;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.p-right {
  padding-right: 5rem !important;
}

.icon-style {
  height: 30px;
  width: 30px;
}
.icon-style1 {
  height: 50px;
  width: 50px;
}

.btn-style {
  background-color: #99C165;
  color: whitesmoke;
}

.p-left {
  padding-left: 6rem;
}

.navbar-brand {
  color: #053662 !important;
  font-weight: 700;
}

li {
  margin-right: 1rem;
}

.phone-icon-clr {
  color: #99C165;
  transform: rotate(250deg) !important;
}

img.d-block.w-100.img-fluid {
  height: 500px !important
}

.on-image {
  border-top: 5px solid;
  border-left: 5px solid;
  position: absolute;
  top: 16rem;
  color: whitesmoke;
  margin-left: 15% !important;
  padding: 2%;
}

.on-image button {
  padding: 0.7rem !important;
  font-size: 0.8rem;
}

.on-image i {
  font-size: 2.5rem;
  vertical-align: bottom;
}

a.carousel-control-next {
  width: 3%;
}

a.carousel-control-prev {
  width: 3%;
}

.aside-style {
  padding: 5rem !important;
}

.aside-style1 {
  margin-top: 4% !important;
  padding: 5rem 5rem 1rem 5rem !important;
  background-color: #0A2237 !important;
  color: whitesmoke;
}

.aside-style-par {
  color: #c1bbbb;
}

.list-par {
  color: #9c9c9c;
}

.aside-style-heading {
  color: #32335f;
  font-weight: 600;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: #99C165 !important
}

.aside-img1 {
  height: 225px;
  width: 425px;
  margin-top: -18%;
  z-index: 1;
  box-shadow: 1rem 1rem 0.5rem #5f5e5e
}

.aside-img2 {
  height: 225px;
  width: 425px;
  z-index: 1;
  box-shadow: 1rem 1rem 0.5rem #5f5e5e
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.pt-4.pb-4.p-right.p-left {
  z-index: 1;
}

.content-review {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  padding: 1.5rem;
  box-shadow: -0.2rem -0.2rem 0.5rem #9c9c9c;
}

.p-icon-clr {
  color: #99C165 !important;
  font-size: 2.2rem;
}

h5.card-title {
  font-weight: 700;
}

.icon-size {
  font-size: 3.5rem;
}

.card {
  background-color: #fbfbfb;
  padding: 1.5%;
}

.black-img {
  background: url(industry3.jpg) no-repeat center;
  background-size: cover;
  height: 380px;
}

.black-img1 {
  background: url(industry1.jpg) no-repeat center;
  background-size: cover;
  height: 510px;
}

.list-style {
  list-style-type: none;
}

.div-cls {
  background-color: #99C165;
  color: whitesmoke;
  margin-left: 5% !important;
  margin-right: 5% !important;
  z-index: 1;
  position: absolute;
  width: 90%;
  margin-top: -1%;
}

.btn-cls {
  display: flex;
  justify-content: flex-end;
}
button.btn.p-md-3 {
  background-color: rgb(255, 255, 255);
  font-weight: 500;
}
.card-style{
  background-color: #0A2237;
  border:1px solid #0A2237;
  border-top: 1px solid rgb(129, 129, 129);
}
.h-line{
  background-color: rgb(129, 129, 129);
}
.icon-top{
  position: absolute;
  margin-right:-5%;
  color:white;
  font-size: 2rem;
}

@media only screen and (max-width: 576px) {
  li {
    margin-right: 1rem !important;
  }

  .p-left {
    padding-left: 1rem !important;
  }

  .p-right {
    padding-right: 1rem !important;
  }

  .head-right {
    padding-right: 1rem !important;
  }

  .aside-img1 {
    margin-top: 2%;
  }

  .div-cls {
    background-color: #99C165;
    color: whitesmoke;
    margin-left: 0% !important;
    margin-right: 0% !important;
    z-index: 1;
    position: relative;
    width: 100%;
    margin-top: 0%;
  }
}
